
	<h2>{{ test.title }}</h2>
	<h5>by {{ test.user }}<h5>
<div class="row">	
	<div class="large-6 columns">
		<div class="product" ng-click="vote('A')">
			<div class="img-wrapper">
				<img ng-if="test.A_image !== 'None'" ng-src="{{test.A_image}}" />
				<h3 ng-show="test.voted_for_a">Voted</h3>
			</div>
			<h2>{{ test.A_name }}</h2>
		</div>
	</div>
	<div class="large-6 columns">
		<div class="product" ng-click="vote('B')">
			<div class="img-wrapper">
				<img ng-if="test.B_image !== 'None'" ng-src="{{test.B_image}}" />
				<h3 ng-show="test.voted_for_b">Voted</h3>
			</div>
			<h2>{{ test.B_name }}</h2>
		</div>
	</div>
	<div ng-show="user_has_voted">
		<h4>Results:</h4>
		<p>Test A has {{ test.votes_a.length }} votes</p>
		<p>Test B has {{ test.votes_b.length }} votes</p>
		
	</div>
</div>
	<!--
	<div id="controls">
		<a ng-href="/tests/{{prev_test}}">« prev</a>
		<a ng-href="/tests/{{next_test}}">next »</a>
	</div>
	-->